@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=El+Messiri:wght@400..700&family=Geist+Mono:wght@100..900&family=Zain:wght@200;300;400;700;800;900&display=swap");

:root {
  --bg: #211e2e;
  --prime-color: #8176af;
  --light-prime-color: #c0b7e8;
  --text-color: white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: "Geist Mono", monospace;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg);
}
